.upcoming-title {
  font-size: 1.5rem;
  font-weight: bold;

  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.upcoming-title h1:after {
  height: 6px;
  display: block;
  width: 80px;
  background: blue;
  border-right: 1px solid blue;
  content: "";
  margin-top: 15px;
}

.upcoming-title h2 {
  color: #ffe600d4;
  font-size: 1rem;
}
.upcoming-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  padding-left: 80px;
  padding-right: 80px;
}

@media only screen and (max-width: 600px) {
  .upcoming-title {
    font-size: 10px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
  }
  .upcoming-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    padding-left: 80px;
    padding-right: 80px;
  }
}
