
.App{
  background-color: black;
  font-family: 'Libre Baskerville';
  
}
.bg{
  background-image:url('assets/Img.png');
  background-size:cover;
  background-position:center;
}
.carousel{

   display:flex;
    flex-direction:row;
    justify-content:space-around;
  overflow-x:scroll;
}